<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <a href="/">Ratings</a>
  {% if 'user_id' in session %}
	  <form action="/logout" method="GET">
	  	<input type="submit" value="Log Out">
	  </form>
  {% else %}
	    <form action="/login" method="POST">
		<p>
			<label for="email">Email Address</label>
			<input type="text" name="email" id="email" required>
		</p>
		<p>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" required>
		</p>
			<input type="submit" value="Log In">
		</form>
  {% endif %}
  <hr>
  {% block content %} put your content here {% endblock %}

</body>
</html>