<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <a href="/">Ratings</a>
  {% if 'user_id' in session %}
	  <form action="/logout" method="GET">
	  	<input type="submit" value="Log Out">
	  </form>
  {% endif %}
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>