{% extends 'base.html' %}
{% block content %}

<h1>{{ movie.title }}</h1>
<h2>Release: {{ movie.release_at }}</h2>
<h2><a href="{{ movie.imdb_url }}">IMDB</a>

<p>
	{% if 'user_id' in session %}
	  <form action="/rate" method="POST">
	  	<select name="add_rating">
	  		<option value="1">1</option>
	  		<option value="2">2</option>
	  		<option value="3">3</option>
	  		<option value="4">4</option>
	  		<option value="5">5</option>
	  	</select>
	  	<input type="hidden" name="movie_id" value={{ movie.movie_id }}>
	  	<input type="submit" value="Add Rating">
	  </form>
  {% endif %}
  Your Rating: {% if user_rating %}
  				{{ user_rating.score }}
  			   {% endif %}
</p>

<p>
	<h2>Ratings:</h2>
	<p>Average rating: {{ average }}</p>
	{% if prediction %}
	    <p>We predict you will rate this movie {{ prediction }}.</p>
	{% endif %}
	<p>{% if beratement %}
	    <p>{{ beratement }}.</p>
	   {% else %}
	    <p>The Eye is silent.</p>
	{% endif %}</p>
</p>
{% endblock %}