{% extends 'base.html' %}
{% block content %}

<h1>{{ curr_movie.title }}</h1>
<h2>Release: {{ curr_movie.release_at }}</h2>
<h2><a href="{{ curr_movie.imdb_url }}">IMDB</a>

<p>
	{% if 'user_id' in session %}
	  <form action="/rate" method="POST">
	  	<select name="add_rating">
	  		<option value="1">1</option>
	  		<option value="2">2</option>
	  		<option value="3">3</option>
	  		<option value="4">4</option>
	  		<option value="5">5</option>
	  	</select>
	  	<input type="hidden" name="movie_id" value={{ curr_movie.movie_id }}>
	  	<input type="submit" value="Add Rating">
	  </form>
  {% endif %}
</p>

<p>
	<h2>Ratings:</h2>
	<ul> 
		{% for rating in ratings %}
			<li>User ID: {{ rating.user_id }}</li>
				<ul><li>Rating: {{ rating.score }}</li></ul>
		{% endfor %}
	</ul>
</p>
{% endblock %}